*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Sfondo principale */
body{
    background: linear-gradient(to bottom, #009788 150px, #DADBD5 150px);
    height: 100vh;
}

.contenitore-principale{
    width: 1000px;
    height: 800px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
}

.row{
    height: 100%;
}

.width-40{
    width: 40%;
}
.width-60{
    width: 60%;
}

.grigio-scuro{
    color: rgb(182, 182, 182);
}

.bg-grigio{
    background-color:rgb(240, 240, 240);
    padding: 0;
}

.bg-azzurro{
    background-color: rgb(143, 223, 255);
}

/* contatti e informazioni personali */
.dati-personali{
    height: 50px;
}

.img-io{
    height: 35px;
    border-radius: 50px;
    margin-left: 5px;
}

.altezza-dati-personali{
    height: 50px;
}

/* notifiche */
.silenzioso{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color: rgb(143, 223, 255);
}

.sottolineato{
    color: grey;
    font-size: small;
    text-decoration: underline;
}

.scritte-vicine{
    line-height: 1;
}

/* Ricerca */
.ricerca{
    width: 80%;
    border: 0px;
}

/* Contatti */
.img-contatti{
    height: 80px;
    border-radius: 50%;
}

.colonna2{
    background-color: rgb(60, 255, 6);
    height: 100%;
}