*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Sfondo principale */
body{
    background: linear-gradient(to bottom, #009788 150px, #DADBD5 150px);
    height: 100vh;
}

.puntatore{
    cursor: pointer;
}

.contenitore-principale{
    width: 1000px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    height: 800px;
}

.row{
    height: 100%;
}

.width-40{
    width: 40%;
}
.width-60{
    width: 60%;
}

.grigio-scuro{
    color: rgb(182, 182, 182);
}

.nero-chiaro{
    color: rgb(100, 100, 100);
}

.bg-grigio{
    background-color:rgb(240, 240, 240);
    padding: 0;
}

.bg-azzurro{
    background-color: rgb(143, 223, 255);
}

/* contatti e informazioni personali */
.dati-personali{
    height: 50px;
}

.img-io{
    height: 35px;
    border-radius: 50px;
    margin-left: 5px;
}

.altezza-dati-personali{
    height: 50px;
}

.bordo-r{
    border-right: 1px solid rgb(200, 200, 200) ;
}

/* notifiche */
.silenzioso{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color: rgb(143, 223, 255);
}

.sottolineato{
    color: grey;
    font-size: small;
    text-decoration: underline;
}

.scritte-vicine{
    line-height: 1;
}



/* Ricerca */
.ricerca{
    width: 80%;
    border: 0px;
}

/* Contatti */
.img-contatti{
    height: 70px;
    border-radius: 50%;
}

.colonna2{
    height: 100%;
    
}

.effetto-grigio:hover{
    background-color: rgb(240, 240, 240);
}

.scorrimento-l{
    overflow-y: auto;
    max-height: 650px;
}

/* Chat */
.sfondo-foto{
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: 100%;
}

.scorrimento-r{
    overflow-y: auto;
    height: 700px;
    max-height: 700px;
}

/* input risposta */
.input-risposta{
    height: 50px;
}