*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Sfondo principale */
body{
    background: linear-gradient(to bottom, #009788 150px, #DADBD5 150px);
    height: 100vh;
}

.contenitore-principale{
    width: 1000px;
    height: 800px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
}

.row{
    height: 100%;
}

.grigio-scuro{
    color: rgb(182, 182, 182);
}

.bg-grigio{
    background-color:rgb(240, 240, 240);
    padding: 0;
}

/* contatti e informazioni personali */
.dati-personali{
    height: 50px;
}

.img-io{
    height: 50px;
    border-radius: 50;
}

.colonna2{
    background-color: rgb(60, 255, 6);
    height: 100%;
}